@model List<Product>

@{
    ViewData["Title"] = "Index";
}

@section Styles {
    <link rel="stylesheet" href="/css/customerHome.css" />
}

<h1 class="text-center mb-4 fw-bold"><i class="bi bi-bag-check-fill"></i> Products</h1>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-3 col-md-4 col-sm-6" style="padding: 8px;">
        <div class="product-grid">
            <form asp-action="Details">
            <input name="Count" value="1" hidden />
            <input name="ProductID" value="@item.ProductID" hidden />
            <div class="product-content">
                <h2 class="title"><a asp-action="Details" asp-route-id="@item.ProductID">@item.Name</a></h2>
                <div class="price">$@item.Price</div>
                <ul class="product-links">
                    <li>
                            <button style="border: none;" type="submit"><i class="bi bi-bag"></i></button>
                    </li>
                    <li><a asp-action="Details" asp-route-id="@item.ProductID"><i class="bi bi-eye-fill"></i></a></li>
                </ul>
                <p class="desc">@item.Description</p>
            </div>
            </form>
            <div class="product-image">
                    <img class="pic-1" src="/@item.ProductImages.FirstOrDefault().ImageUrl">
                        @if (item.ProductImages.Count >= 2)
                        {
                            <img class="pic-2" src="/@item.ProductImages.Skip(1).FirstOrDefault().ImageUrl">
                        }
                <span class="product-sale-label">@item.Category.Name</span>
            </div>
        </div>
    </div>
    }
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
